@import url("https://fonts.googleapis.com/css2?family=Akronim&display=swap");
.card-wrapper {
  display: flex;
  height: 240px;
  width: 200px;
  justify-content: space-evenly;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 3px lightblue;
  padding: 10px;
}
.card-cont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.card-title {
  display: flex;
  height: 40%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.card-description {
  display: flex;
  height: 60%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  text-align: center;
}
.card-description::-webkit-scrollbar{
    display: none;
}
.card-title h2 {
  font-family: "Akronim", cursive;
  font-size: 33px;
}
.card-description p {
    font-family: "Josefin Sans", sans-serif;
}