@import url('https://fonts.googleapis.com/css2?family=Birthstone&display=swap');
.footer-wrapper{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.footer-cont{
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
}
.footer-cont h3{
    font-family: 'Birthstone', cursive;
}
.footer-cont a{
    color: crimson;
}