.welcome-main-wrapper{
    display: flex;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}
.welcome-cont{
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.welcome-cont::-webkit-scrollbar{
    display: none;
}