@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&family=Yaldevi:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400");
@import url('https://fonts.googleapis.com/css?family=Roboto:300');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
.intro-main-wrapper {
  display: flex;
  height: 100vh;
  min-height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.intro-cont {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.intro-details {
  display: flex;
  height: 100%;
  width: 50%;
  justify-content: center;
  flex: 0.5;
  padding: 40px;
  flex-direction: column;
}
.intro-pic {
  display: flex;
  height: 100%;
  width: 50%;
  align-items: center;
  justify-content: center;
  flex: 0.5;
}
.title-greeting {
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: center;
}
.title-greeting h2 {
  font-family: "Yaldevi", sans-serif;
  font-size: 14px;
}
.title-greeting h1 {
  margin-top: 20px;
  font-family: "Scheherazade New", serif;
}
.image-holder {
  display: flex;
  height: 80%;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.image-holder img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.intro-words {
  display: flex;
  width: 100%;
  align-items: center;
}
.intro-skills {
  display: flex;
  margin-top: 20px;
  width: 100%;
  /* font-family: 'Bebas Neue', cursive; */
  font-family: 'Mukta', sans-serif;
  align-items: center;
}
.intro-words p {
  margin-top: 20px;
  font-weight: 400;
  font-family: "Josefin Sans", sans-serif;
}

/* .typing-demo {
  width: 22ch;
  animation: typing 2s steps(22), blink 0.5s step-end infinite linear;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  font-family: monospace;
  font-size: 1.4em;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
} */
.title-greeting h1 {
  font-weight: 600;
  font-size: 34px;
  font-family: Hack, sans-serif;
  text-transform: uppercase;
  background: linear-gradient(90deg, #000, #fff, #000);
  letter-spacing: 5px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
  background-size: 80%;
  animation: shine 4s linear infinite;
  position: relative;
}

@keyframes shine {
  0% {
    background-position-x: -500%;
  }
  100% {
    background-position-x: 500%;
  }
}
