*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  scroll-behavior: smooth;
}
html {
  scroll-behavior: smooth;
}
.App{
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
}
.Content{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}
.content-wrapper{
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
}